<div class="container">
	<ul class="loader">
		<li class="animatedLogo"></li>
		<li class="animatedLogo"></li>
		<li class="animatedLogo"></li>
		<li class="animatedLogo"></li>
		<li class="animatedLogo"></li>
		<li class="animatedLogo"></li>
	</ul>
</div>
