.loaderHome{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #1C2530;
    z-index: 10;
}

.loading{
    transform: translateX(-100%);
    transition-duration: 1.8s;
}

.firstCircle img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.secondCircle img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.titleMain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleMain h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    letter-spacing: 5px;
    z-index: 1;

}

.titleMain img{
    height: 40px;
    margin-bottom: 10px;

}
.buttonSwitchSlide{
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    height: 7vh;
    width: 15vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 10px 10px 0 0 #000;
    border: 0;
    font-size: 1.5em;
    font-family: 'Cabinet Grotesk', sans-serif;
}
.buttonSwitchSlide:active {
    box-shadow: 0 0 0 0 #000;
}

.pictureAlbum {
    position: absolute;
    height: 100%;
    width: 100%;
}


.firstAlbum {
    display: flex;
    justify-content: flex-end;
    height: 150px;
}

.firstAlbum img {
    margin-right: 20px;
    margin-top: 20px;
    width: 180px;
    height: 180px;
    box-shadow: 0 12px 30px 6px #000;
}

.secondAlbum {
    display: flex;
    justify-content: flex-start;
    height: 150px;
}

.secondAlbum img {
    width: 160px;
    height: 160px;
    box-shadow: 0 12px 30px 6px #000;
    
}

.thirdAlbum {

    display: flex;
    justify-content: flex-end;
    height: 150px;
    margin-top: 50px;

}

.thirdAlbum img {
    width: 140px;
    height: 140px;
    box-shadow: 0 12px 30px 6px #000;
    margin-top: 50px;
    margin-right: 300px;
}

.fourAlbum {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    height: 150px;

}

.fourAlbum img {
    width: 120px;
    height: 120px;
    box-shadow: 0 12px 30px 6px #000;
    margin-top: 50px;
}



@media screen and (max-width : 1310px) {


    .secondCircle{
        display: none;
    }

    .firstAlbum img{
        height: 130px;
        width: 130px;
        margin-right: 150px;
    }

    .secondAlbum li{
        margin-right: 300px;
    }

    .thirdAlbum  {
        margin-top: 50px;
    }

}

@media screen and (max-width : 1250px) {

    .firstAlbum img{
        height: 150px;
        width: 150px;
    }

    .titleMain h1 {
        
        padding: 3px;
        border-radius: 20px;
    }

    .thirdAlbum img{
        margin-top: 120px;
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width : 980px) {

    .titleMain h1 {
        
        padding: 3px;
        border-radius: 20px;
    }
    .firstAlbum{
        justify-content: flex-start;
        margin-left: 40px;
    }

    .secondAlbum {
        justify-content: flex-end;
        margin-right: 50px;
    }

    .secondAlbum img{
        height: 120px;
        width: 120px;
    }

    .thirdAlbum {
        justify-content: flex-start;
    }

    .fourAlbum {
        justify-content: flex-end;
        margin-right: 80px;
    }
}

@media screen and (max-width : 750px) {
    .secondAlbum {
        display: none;
    }

    .thirdAlbum {
        display: none;
    }

    .fourAlbum {
        margin-top: 120px;
    }
}

@media screen and (max-width : 500px) {
    .titleMain h1 {
    
        font-size: 1.8rem;
    }

    .titleMain img {
        height: 30px;
        width: 50px;
    }
    .firstAlbum img {
        height: 80px;
        width:80px;
        margin-top: 150px;
    }

    .fourAlbum img {
        margin-top: 60px;
        margin-left: 50px;
        height: 70px;
        width: 70px;
    }
}

/*////////////////////////////////////////////////////////////////////*/

.firstAlbumSlider1 {
    position: absolute;
    left: 60vw;
    box-shadow: 0 12px 30px 6px #000;
    height: 15vh;
}

.secondAlbumSlider1 {
    position: absolute;
    left: 80vw;
    top: 83vh;
    box-shadow: 0 12px 30px 6px #000;
    height: 15vh;
}

.thirdAlbumSlider1 {
    position: absolute;
    left: 5vw;
    top: 10vh;
    box-shadow: 0 12px 30px 6px #000;
    height: 20vh;
}

.fourthAlbumSlider1 {
    position: absolute;
    left: 15vw;
    top: 85vh;
    box-shadow: 0 12px 30px 6px #000;
    height: 15vh;
}

.logoLeSquizzz {
    width: 100%;
    margin-top: 1%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
}
.logoLeSquizzz h1 {
    color: white;
    margin:0;
}
.logoLeSquizzz img {
    height: 22px;
}

.titleContainer {
    position: absolute;
    height: 25%;
    width: 100%;
    top:0 ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
}

.containerSlider1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider1 {
    background-color: rgba(28, 37, 48);
    height: 54vh;
    width: 61vw;
    z-index: 2;
    border: solid #FF6B00 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftContainerDifficulty1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hrMiddle {
    margin-top: 3%;
    margin-right: 0;
    margin-left: 0;
    height: 85%;
}

.rules1 span {
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 1.2em;
}

.rules1 h2 {
    margin: 0;
    font-size: 2.5em;
}

.rules1 {
    height: 50%;
    width: 80%;
    color: #fff;
    overflow: hidden;
    font-family: 'Cabinet Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightContainerDifficulty1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.rightContainerDifficulty1 hr {
    margin-top: 2%;
    width: 80%;
    height: 0;
}

.buttonCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.difficulty1{
    position: relative;
    margin-bottom: 20%;
    border-radius: 10px;
    background-color: #fff;
    height: 7vh;
    width: 15vw;
    cursor: pointer;
    box-shadow: 10px 10px 0 0 #000;
    border: 0;
    font-size: 1.5em;
    font-family: 'Cabinet Grotesk', sans-serif;
}

.difficulty1:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0 #000;
}

.content {
    height: 80%;
    width: 80%;
    background-color: #FF6B00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
}

.content h2 {
    color: #fff;
    font-size: 300%;
    position: absolute;
}

.mainContainerDifficulty1 {
    height: 100%;
    width: 100%;
    display: none;
}

.mainContainerDifficulty1.active {
    display: flex;
}

.containerContentSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nextArrowSlider, .prevArrowSlider {
    padding: 2rem;
    height: 50px;
    cursor: pointer;
}

.nextArrowSlider img, .prevArrowSlider img {
    height: 50px;
}

@media screen and (max-width: 1500px) {
    .rules1 span {
        margin-top: 2%;
        margin-bottom: 0;
        font-size: 1em;
    }

    .rules1 h2 {
        margin: 0;
        font-size: 2em;
    }

    .titleContainer h1{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1100px) {
    .rules1 span {
        margin-top: 2%;
        margin-bottom: 0;
        font-size: 0.8em;
    }

    .rules1 h2 {
        margin: 0;
        font-size: 1.8em;
    }

    .titleContainer h1{
        font-size: 1.4em;
    }

    .difficulty1 {
        font-size: 1em;
    }
}

@media screen and (max-width: 800px) {
    .firstAlbumSlider1 {
        display: none;
    }

    .secondAlbumSlider1 {
        display: none;
    }

    .thirdAlbumSlider1 {
        display: none;
    }

    .fourthAlbumSlider1 {
        display: none;
    }

    .logoLeSquizzz1 {
        justify-content: center;
        margin-top: 1%;
        align-items: center;
    }

    .titleContainer {
        position: absolute;
        height: 25%;
        width: 100%;
        top: -8%;
    }

    .slider1 {
        height: 80vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .leftContainerDifficulty1 {
        height: 50%;
        width: 100%;
    }

    .hrMiddle {
        margin-top: 3%;
        height: 0;
        width: 80%;
    }

    .rules1 span {
        width: 80%;
        font-size: 1.1em;
    }

    .rules1 h2 {
        width: 80%;
        font-size: 2em;
    }

    .rules1 {
        height: 100%;
        width: 50%;
        flex-direction: column;
        align-items: center;
    }

    .rightContainerDifficulty1{
        flex-direction: row;
        height: 50%;
        width: 100%;
    }

    .rightContainerDifficulty1 hr {
        margin-top: 2%;
        width: 0;
        height: 80%;
    }

    .buttonCategory{
        width: 50%;
        height: 100%;
    }

    .difficulty1{
        margin-top: 10%;
        height: 15vh;
        width: 25vw;
        font-size: 1.2em;
    }

    .content {
        text-align: center;
        border-radius: 15px;
    }

    .mainContainerDifficulty1.active {
        flex-direction: column;
        align-items: center;
    }

    .containerContentSlider {
        margin-top: 15%;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .rules1 span {
        font-size: 0.9em;
    }

    .rules1 h2 {
        font-size: 1.6em;
    }

    .nextArrowSlider, .prevArrowSlider {
        padding: 1rem;
    }

}

@media  screen and (max-width: 500px) {

    .titleContainer {
        font-size: 0.8em;
    }

    .leftContainerDifficulty1 {
        height: 30%;
        width: 100%;
    }

    .rules1 span {
        width: 80%;
        font-size: 0.8em;
    }

    .rules1 h2 {
        width: 80%;
        font-size: 1.2em;
    }

    .rules1 {
        height: 50%;
        width: 100%;
    }

    .rightContainerDifficulty1{
        flex-direction: column;
        height: 60%;
        width: 100%;
    }

    .rightContainerDifficulty1 hr {
        margin-top: 2%;
        width: 80%;
        height: 0;
    }

    .buttonCategory{
        margin-top: 20%;
        width: 100%;
        height: 20%;
    }

    .difficulty1{
        height: 15vh;
        width: 50vw;
        font-size: 1.2em;
    }

    .content {
        font-size: 0.6em;
    }

    .nextArrowSlider, .prevArrowSlider {
        padding: 0.6rem;
        height: 35px;
    }

    .nextArrowSlider img, .prevArrowSlider img {
        height: 35px;
    }
}