.firstCircle img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.secondCircle img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.titleMain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleMain h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    letter-spacing: 5px;
    z-index: 1;

}

.titleMain img{
   height: 40px;
   margin-bottom: 10px;
   
}
.buttonSwitchSlide{
    position: relative;
    margin-left: 2vw;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: #fff;
    height: 7vh;
    width: 15vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 10px 10px 0 0 #000;
    border: 0;
    font-size: 1.5em;
    font-family: 'Cabinet Grotesk', sans-serif;
}
.buttonSwitchSlide:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0 #000;
}

.pictureAlbum {
    position: absolute;
    height: 100%;
    width: 100%;
}   


.firstAlbum {
    
    display: flex;
    justify-content: flex-end;
    height: 150px;
}

.firstAlbum img {
    margin-right: 20px;
    margin-top: 20px;
    width: 180px;
    height: 180px;
    box-shadow: 0 12px 30px 6px #000;
}

.secondAlbum {
    
    display: flex;
    justify-content: flex-start;
    height: 150px;
}

.secondAlbum img {
    width: 160px;
    height: 160px;
    box-shadow: 0 12px 30px 6px #000;
    
}

.thirdAlbum {
   
    display: flex;
    justify-content: flex-end;
    height: 150px;
    margin-top: 50px;
  
}

.thirdAlbum img {
    width: 140px;
    height: 140px;
    box-shadow: 0 12px 30px 6px #000;
    margin-top: 50px;
    margin-right: 300px;
}

.fourAlbum {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    height: 150px;
    
}

.fourAlbum img {
    width: 120px;
    height: 120px;
    box-shadow: 0 12px 30px 6px #000;
    margin-top: 50px;
}



@media screen and (max-width : 1310px) {

   
.secondCircle{
    display: none;
}

.firstAlbum img{
    height: 130px;
    width: 130px;
    margin-right: 150px;
}

.secondAlbum li{
    margin-right: 300px;
}

.thirdAlbum  {
    margin-top: 50px;
}

}

@media screen and (max-width : 1250px) {

    .firstAlbum img{
        height: 150px;
        width: 150px;
    }
   
     .titleMain h1 {
    
    padding: 3px;
    border-radius: 20px;
    }

    .thirdAlbum img{
        margin-top: 120px;
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width : 980px) {

    .titleMain h1 {
    
    padding: 3px;
    border-radius: 20px;
    }
        .firstAlbum{
            justify-content: flex-start;
            margin-left: 40px;
        }

        .secondAlbum {
            justify-content: flex-end;
            margin-right: 50px;
        }

        .secondAlbum img{
            height: 120px;
            width: 120px;
        }

        .thirdAlbum {
            justify-content: flex-start;
        }

        .fourAlbum {
            justify-content: flex-end;
            margin-right: 80px;
        }
}

@media screen and (max-width : 750px) {
  
    .secondAlbum {
        display: none;
    }

    .thirdAlbum {
        display: none;
    }

    .fourAlbum {
        margin-top: 120px;
    }
}

@media screen and (max-width : 500px) {


    .titleMain h1 {
    
        font-size: 1.8rem;
    }

    .titleMain img {
        height: 30px;
        width: 50px;
    }
    .firstAlbum img {
        height: 80px;
        width:80px;
        margin-top: 150px;
    }

    .fourAlbum img {
        margin-top: 60px;
        margin-left: 50px;
        height: 70px;
        width: 70px;
    }
}